<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Image Retrieval</title>
</head>
<body>
    <div style="padding-left: 60px;">
        <h1>Image Retrieval Test</h1>
            <form action="" enctype='multipart/form-data' method='POST'>
                <input type="file" name="picture" style="margin-top:0px;height:40px;width:200px;"/>
                <!-- <br> -->
                <!-- <i>Upload your picture, please click here: </i> -->
                <input type="submit" value="Upload" name="submit" class="button-new" style="margin-top:0px;height:30px;width:100px;"/>
                <!-- <br> -->
                <!-- <i>Start retrieval, please click here: </i> -->
                <input type="submit" value="Run" name="submit" class="button-new" style="margin-top:0px;height:30px;width:100px;"/>
            </form>
    </div>
</body>
</html>